main {
  min-height: 91vh;
}

.product-card {
  border: 1px solid #eee;
}

.product-card .card-img-top {
  height: 180px;
  object-fit: cover;
}

.add-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  color: #6c757d;
  cursor: pointer;
  min-height: 200px;
}

.add-product-card .material-icons {
  font-size: 3rem;
}