main {
  min-height: 91vh;
}

.stat-card {
  border: none;
  border-left: 4px solid var(--cor-primaria);
}

.btn-save {
  color: var(--bs-secondary-color);
  transition: color 0.3s ease;
}

.btn-save:hover {
  color: var(--cor-primaria);
}

.btn-save.saved {
  color: var(--cor-primaria);
}